@media (prefers-color-scheme: dark) {
  body {
    /* background: #e6c5da; */
    background: #000;
  }
}
@media (prefers-color-scheme: light) {
  body {
    background: #fff;
  }
}
/* .img-div {
  display: none;
} */

.img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.img {
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

/* @media only screen and (max-width: 1080px) {
  .img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .img {
    height: fit-content;
    max-width: -webkit-fill-available;
  }
} */
